.vollbreite {
    width: 100%;
    height: 100px;
    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #000;
    resize: none;
    border: none;
    margin-bottom: 20px;
}

.button-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

.antwort-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.antwort-card {
    position: relative;
    background-color: #007986;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

    .antwort-card textarea {
        width: 100%;
        height: 60px;
        resize: none;
        padding: 10px;
        font-size: 16px;
        border: none;
        border-radius: 8px;
        background-color: #ffffff;
        color: #000;
    }

.checkmark {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(1.3);
    cursor: pointer;
}

.bg-1 {
    background-color: #0074a6;
}

.bg-2 {
    background-color: #009688;
}

.bg-3 {
    background-color: #f1c40f;
    color: #000;
}

.bg-4 {
    background-color: #e74c3c;
}

.mode-switch {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    font-size: 16px;
}



/* Overlay-Hintergrund */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto; /* Damit Popup scrollbar ist */
    padding: 40px 20px; /* Abstand vom Rand */
}



/* Schließen-Button */
.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 28px;
    color: white;
    cursor: pointer;
}

.fragenkopf {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}


.fragtitel-anzeige {
    font-size: 24px;
    margin: 0;
    text-align: center;
    color: white;
}
