/* HEADER */
.header {
    position: fixed; /* Header immer oben */
    top: 0;
    left: 0;
    width: 100%; /* volle Breite */
    background-color: #00434e;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Logo links, Nav rechts */
    padding: 0 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Überlappt andere Inhalte */
}

/* Damit der Inhalt nicht unter den Header rutscht */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background-color: #00434e;
    color: #ffffff;
    padding-top: 80px; /* Platz für den fixierten Header */
}

/* Navigation */
.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0.8rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

    /* Neue Hover-Farbe */
    /*.nav-links a:hover {
        background-color: #006a7e;*/ /* etwas helleres Blaugrün */
    /*}*/


    /* Main Feld */
.main-content {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    color: #00434e;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

    .main-content h2 {
        margin-top: 0;
        font-size: 1.6rem;
        color: #00434e;
        margin-bottom: 1rem;
    }

    .main-content p {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }