@page
@model Smart2Lose.Pages.testPages.startPageModel
@{
}


<form method="post">
	<input type="number" asp-for="testNumber" placeholder="probe numer " />
	<input type="text" asp-for="testTitle" placeholder="probe test" />
	<button type="submit">testAbschicken</button>
</form>