@page
@model KahootTransnetBW.Pages.Viewer.FragenAnswerModel
@{
    ViewData["Title"] = "Home";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<!-- Quit button um wieder auf die Join Side zu kommen -->
<header class="header">

    <nav id="loginBtn" class="login-button">
        <a href="/Index">Quit</a>
    </nav>

</header>

<div class="text-center">


    <div class="main-content">
        <h1>Gleich geht es los</h1>
        <p>Gebe noch einen Namen ein um deinen Spielstand zu speichern</p>

        <form method="post">
            <div class="input-group">
                <input type="text" asp-for="vorname" class="form-input" required placeholder="Vorname" />
                <input type="text" asp-for="nachname" class="form-input" required placeholder="Nachname" />
                <button type="submit">Beitreten</button>
            </div>
        </form>

        @if (!string.IsNullOrEmpty(Model.UserError))
        {
            <p style="color: red;">@Model.UserError</p>
        }
    </div>


</div>