@page
@model KahootTransnetBW.Pages.testPages.secondPageModel
@{
}
<h2>Second Page</h2>

<p>Gespeicherter Wert aus Session: @Model.testNumber</p>
<p>Gespeicherter Wert aus Session: @Model.testTitle</p>