@page
@model KahootTransnetBW.Pages._1Viewer.FinalResultModel
@{
    ViewData["Title"] = "Kahoot | How is the best";
}

<link rel="stylesheet" href="~/css/Playground/GrundViewer.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Playground/FinalResult.css" asp-append-version="true" />

<header class="header">
    <div class="logo">TRANS<span>NET</span> BW</div>
    <nav class="nav-links">
        <a href="/Index">Quit</a>
    </nav>
</header>


<h1>Test zum Final Result</h1>

<!-- hier sollte ein diagam rein an dem wir sehen wer die meisten punkte hat und in welchem rahmen mit vlt einem filter im nächsten monat und vlt von heute  -->