@page
@model IndexModel
@{
    ViewData["Title"] = "Kahoot | Home";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Accessiblility.css" asp-append-version="true" />

<!-- Login-Button für Admin-Dashboard-->
<header class="header">

    <button id="loginBtn" class="login-button"
            onclick="window.location.href='/Account/Login'">
        Login
    </button>

</header>







<!-- Kahoot Bereich zum Joinen-->
<div class="text-center">


    <div class="main-content">
        <h1>Willkommen bei @Model.pn.Name</h1>
        <p>Gib den Game-PIN ein, um beizutreten:</p>

        <form method="post">
            <div class="input-group">
                <input type="number" asp-for="session.GameID" value="" required placeholder="Game-PIN eingeben" />
                <button type="submit">Beitreten</button>
            </div>
        </form>

        @if (!string.IsNullOrEmpty(Model.ErrorMessage))
        {
            <p style="color: red;">@Model.ErrorMessage</p>
        }
    </div>

</div>

<div class="accessibility-wrapper">
    <button class="accessibility-btn" aria-label="Zugänglichkeit">
        ♿
    </button>

    <div class="accessibility-panel">
        <h3>digi-access – Zugänglichkeit verbessern</h3>
        <p>
            Optimieren Sie die Webseite für bessere Lesbarkeit
            und Nutzerfreundlichkeit.
        </p>
        <button class="open-btn">F2 zum Öffnen</button>
    </div>
</div>




